<p>Hi!</p>

<p>Products import is complete with next results:</p>

<ul>
  <li><b>Created</b>: <%= @import.created %></li>
  <li><b>Updated</b>: <%= @import.updated %></li>
  <li><b>Failed</b>: <%= @import.failed %></li>
</ul>
